#map {
    height: 100vh;
    width: 100%;
    background-color: #262626;
}

body {
    background-color: #262626;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 780px;
}

.thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.leaflet-popup-content-wrapper {
    max-width: 100% !important;
    width: auto !important;
    border-radius: 12px !important;
}

.leaflet-popup-content {
    overflow: auto;
    margin: 13px 19px;
    line-height: 1.4;
    overflow-x: hidden;
}

.loading {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 20px;
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 20px;
}

.emoji-pin {
    font-size: 24px; 
    line-height: 30px;
} 